

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after{
  -webkit-box-sizing:inherit;
          box-sizing:inherit;
}
body{
  margin: 0;
  padding: 0;
  background-color: #4A4A4A;
}
.container {
  width: 1250px;
  padding: 0 30px;
  margin-left: auto;
  margin-right: auto;
}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
 
}
.item {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
  color: black;
} 
/**********************************/
nav {

 padding: 15px 0 ;
 background-color:#90948B;
 position: sticky;
 z-index: 50; 
 top: 0;
 margin: 0;
}


.list-nav{
  display: flex;
  justify-content: space-around;
}
.link-nav{
  font-size: 18px;
  font-weight: 400;
  border-bottom: 2px solid transparent;
  padding: 16px;
  background-color: transparent;
  color: white;
  text-shadow: 2px 2px 5px #FF9BB9;

}
.link-nav:hover {
  border-bottom: 2px solid white;
}
.link-nav:active {
  background-color: #5E5E5E;
  border-bottom: 2px solid transparent;
  color: white;
}

.number-nav{
  background-color:#00BAFC;
  padding: 8px 16px;
  color: white;
  border-radius:5px ;
  line-height: 24px;
  border: 3px solid transparent; 
}
.number-nav:hover {
  border: 3px solid #00BAFC;
  background-color: white;
  color: #00BAFC;
}
.number-nav:active {
  border: 3px solid transparent; 
  background-color: rgba(0, 186, 252, 0.6);
  color: white;
}



/*main part*/

.heading-primary {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 10px #00C4B7;
  color: white;
  transition: transform .2s ease;
}
.heading-primary:hover {
  transform: scale(1.2);
}



.movies-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-top: 40px;
}

.movies-item {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 600px;
}
.img-wrapper{
  z-index: 10;
  display: inline-block;
  width:  280px;
  position: absolute;
  transform: translateY(-20px);
}
.movie-first-about{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 320px;
  height: 590px;
  background-color: white;
  border-radius: 15px;
  position: absolute;
  top: 0;
  z-index: -50;
  box-shadow: 1px 1px 15px black;
  transform: scale(0) translate(-20px, 20px);
  transition: transform .3s cubic-bezier(.72,.11,.69,1.23);
  overflow: hidden;
  backface-visibility: hidden;
}
.heading-tertiary {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.text-movie-about{
  margin: 0;
  padding: 0;
  color: grey;
  font-size: 14px;
}
.cost-now{
  color: #54D371;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;

}
.cost-before{
  color: #A3A2A5;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 15px;
}
.link-buying {
  width: 100%;
  padding: 16px 25px;
  background-color: black;
  color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  opacity: .9;
}

.link-buying:hover {
  background-color: #739CCA;
  color: black;
  font-weight: bold;
}
.img-wrapper:hover .movie-first-about{
  transform: scale(1) translate(-20px, 20px);
}


/*Responsive*/
@media only screen and (max-width: 900px) {
.container {
  width: 90vw;
  }
.number-nav{
  border:none;
}
.number-nav:hover{
  border:none;
  background-color:#00BAFC;
  color: white;
}
.number-nav:active {
  border: none; 
  background-color:#00BAFC;
  color: white;
}
.link-nav{
  border-bottom: none;
}
.link-nav:hover {
  border-bottom: none;
}
.link-nav:active {
  background-color:#90948B;
  border-bottom: none;
  color: white;
}

.heading-primary {
  font-size: 40px;
  transform: scale(1);
  }
.heading-primary:hover{
  transform: scale(1);
  }

.movie-first-about {
  transform: scale(1) translate(-20px, 20px);

  }
.link-buying {
  font-weight: bold;
  }

.link-buying:hover {
  background-color: black;
  color: white;
  }
.img-wrapper:hover .movie-first-about{
  transform: scale(1) translate(-20px, 20px); 
  }

}
@media only screen and (max-width: 850px) {
.container {
  width: 90vw ;
  padding: 0 10px;
  }
.heading-primary {
  font-size: 35px;
  transform: scale(1);
  }
.movies-item {
  width: 300px;
}

.movie-first-about {
  transform: scale(1) translate(-20px, 20px);
  width: 300px;
  height: 570px;
  }
.movie-first-img{
  width: 260px;
  height: 400px;
  }
.cost-now{
  margin-top: 10px;
  }
.img-wrapper:hover .movie-first-about{
  transform: scale(1) translate(-20px, 20px);
  }
}
@media only screen and (max-width: 800px) {

nav{
  padding: 10px 0;
  }
.link-nav {
  font-size: 16px;
  }
.container {
  width: 90vw ;
  padding: 0 5px;
  }
.heading-primary {
  font-size: 35px;
  }

.movies-item {
  width: 300px;
  }
.movie-first-about {
  transform: scale(1) translate(-20px, 20px);
  width: 270px;
  height: 520px;
  }
.img-wrapper:hover .movie-first-about{
  transform: scale(1) translate(-20px, 20px);
  }
.movie-first-img{
  width: 230px;
  height: 370px;
  }
.number-nav{
  padding: 5px 10px;
  }
.cost-now{
  margin-top: 10px;
  }
}
@media only screen and (max-width: 720px) {

nav{
  padding: 10px 0;
  }
.link-nav {
  font-size: 14px;
  }
.list-nav {

}
.number-nav{
  padding: 5px;
  }
.heading-primary {
  font-size: 30px;
  }

.movies-item{
  width: 550px;
  height: 350px;
  display: flex;  
  justify-content: flex-start;
  }
.img-wrapper {
  width: 230px;
  height: 300px;
  }
.movie-first-img{
  width: 230px;
  height: 300px;
  }

.movie-first-about{
  transform: translateX(0);
  right: -300px;
  height: 300px;
  justify-content: space-between;
  width: 250px; 
  }
.heading-tertiary {
  margin-top: 50px;
  }
.img-wrapper:hover .movie-first-about{
  transform: scale(1) translate(0);
  }
}
@media only screen and (max-width: 650px) {

 .container {
  width: 100vw ;
  padding: 0 5px ;
  }

nav{
  padding: 5px 0;
  }
.link-nav {
  font-size: 13px;
  }
.number-nav{
  padding: 2px;
  }
.heading-primary {
  font-size: 30px;
  }

.movies-item{
  width: 550px;
  height: 500px;
  display: flex;  
  justify-content: center;
  margin-top: 20px;
  }
.img-wrapper {
  width: 230px;
  height: 300px;
  }
.movie-first-img{
  width: 230px;
  height: 300px;
  }

.movie-first-about{
  transform: translateX(0);
  right: 0px;
  height: 450px;
  justify-content: flex-end;
  width: 270px; 
  transform: scale(1) translate(20px, 20px);

  }
.heading-tertiary {
  margin-top: 0px;
  font-size: 17px;
  }
.cost-now{
  font-size: 18px;
  margin-top: 10px;

}
.cost-before{
  margin-bottom: 10px;
  font-size: 15px;
}
.img-wrapper:hover .movie-first-about{
  transform: scale(1) translate(20px,20px);
  }
}
@media only screen and (max-width: 550px) {
.container {
  width: 90vw ;
  padding: 0 5px ;
  }

nav{
  padding: 8px 0;
  }
.link-nav {
  font-size: 13px;
  }
.number-nav{
  padding: 2px;
  }
.heading-primary {
  font-size: 25px;
  }

.movies-item{
  width: 550px;
  height: 500px;
  margin-top: 20px;
  }
.img-wrapper {
  width: 210px;
  height: 280px;
  }
.movie-first-img{
  width: 210px;
  height: 280px;
  }
.movie-first-about{
  height: 420px;
  width: 270px; 
  transform: scale(1) translate(27px, 20px);
  }
.img-wrapper:hover .movie-first-about{
  transform: scale(1) translate(27px, 20px);
}
}






